Unit] 

Description=home assistant

After=multi-user.target 

 

[Service] 

Type=simple 

ExecStart=/srv/homeassistant/bin/hass
User=homeassistant 

Restart=on-abort 

 

[Install] 

WantedBy=multi-user.target 
